 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-offset-0 text-center">
                    <img class="img-centered" src="img/myface_transparent.png"/>
                    <h4 class="centering">Shingo Obata</h4>
                    <h4 class="centering">(小幡進午)</h4>
                    <p>Postdoctoral Research Associate</p>
                    <a href="https://scholar.google.com/citations?user=siiWEn0AAAAJ&hl=en">Google Scholar</a></br>
                    <a href="https://www.researchgate.net/profile/Shingo_Obata">Research Gate</a>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
                            {%endfor%}                    
                        </ul>
                        <a class="twitter-timeline" href="https://twitter.com/ShingObt?ref_src=twsrc%5Etfw" width="300" height="300">Tweets by ShingObt</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
                <div class="col-lg-8">
                    <p>I am a postdoctoral research associate at <a href="http://www.nimbios.org/">the National Institute for Mathematical and Biological Synthesis</a>. My research interests are forest management and remote sensing. My main focus is national-scale forest inventory analysis in the U.S. South and Japan using remote sensing data and field inventory data. In my research I intensively use 
                    <a href="https://www.r-project.org/">R</a>, 
                    <a href="https://www.python.org/">Python</a>  and 
                    <a href="https://earthengine.google.com/">Google Earth Engine</a>. In my free time I enjoy hiking, cooking and running.</p>
                    <h4 class="about">Education</h4>
                    <li>2016 - 2020:   Ph. D. in Forestry and Natural Resources, the University of Georgia, Georgia, USA</li>
                    <li>2014 - 2016: MSc in Forest Science, the University of Tokyo, Tokyo, Japan</li>
                    <li>2010 - 2014: BA in Agriculture, the University of Tokyo, Tokyo, Japan</li>
                    <h4 class="about">Experience</h4> 
                    <li>Apr 2022-: Project Assistant Professor, <a href="https://www.ism.ac.jp/index_e.html">The Institute of Statistical Mathematics</a>, Tokyo, Japan</li>

                    <li>Oct 2020 - Mar 2022: Postdoctoral Research Associate, <a href="http://www.nimbios.org/">the National Institute for Mathematical and Biological Synthesis</a>, Tennessee, USA</li>
                    <li>Fall 2016 - Fall 2019: Teaching assistant, University of Georgia, Georgia, USA</li>
                     <h4 class="about">Grant</h4> 
                    <li>2016-2019: Student Exchange Support Program from Japan Student Services Organization ($31,654 for each year)</li>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/cv201023.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my resume in PDF
                    </a>
                </div>
            </div>
        </div>
    </section>
