 <!-- About Section -->
    <section class="success" id="works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Works</h2>
                    <p>Articles published/presented since 2017.</p>

                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                    <h4 class="about">Refereed Articles</h4>
                        <li>Akbulut, R., Bettinger, P., Ucar, Z., Obata, S., Boston, K., & Siry, J. (2017). Spatial Forest Plan Development Using Heuristic Processes Seeded with a Relaxed Linear Programming Solution. Forest Science, 63(5), 518–528. <a>https://doi.org/10.5849/FS-2017-040</a></li>
                        <li>Akbulut, R., Ucar, Z., Bettinger, P., Merry, K., & Obata, S. (2017). Effects of forest thinning on static horizontal position accuracy collected with a mapping-grade GNSS receiver. Mathematical and Computational Forestry & Natural-Resource Sciences, 9(1), 14–21. <a>https://www.researchgate.net/publication/316253648_Effects_of_forest_thinning_on_static_horizontal_position_accuracy_collected_with_a_mapping-grade_GNSS_receiver</a></li>
                        <li>Obata, S. (2018). Estimation of forest stand disturbance through implementation of vegetation change tracker algorithm using Landsat time series stacked imagery in coastal Georgia. Mathematical and Computational Forestry and Natural-Resource Sciences, 10(1), 32.</li>
                        <li>Obata, S., Bettinger, P., Cieszewski, C. J., & Lowe III, R. C. (2020). Mapping Forest Disturbances between 1987-2016 Using All Available Time Series Landsat TM/ETM+ Imagery: Developing a Reliable Methodology for Georgia, United States. Forests, 11(3), 335.<a>https://doi.org/10.3390/f11030335</a></li>
                        <li>
                        Obata, S., Cieszewski, C., Bettinger, P., Lowe, R. C., III, & Bernardes, S. (2019). Preliminary analysis of forest stand disturbances in coastal Georgia (USA) using Landsat time series stacked imagery. FORMATH. <a>https://doi.org/10.15684/formath.18.001</a> 
                        </li>
                        <li>
                        Obata, S., Cieszewski, C. J., Bettinger, P., Lowe III, R. C., & Bernardes, S. (2019). Preliminary analysis of forest stand disturbances in Coastal Georgia (USA) using Landsat time series stacked imagery. FORMATH, 18, 1–11. <a>https://doi.org/10.15684/formath.001</a>
                        </li>
                        <li>
                        Zhang, S., Bettinger, P., Cieszewski, C., Merkle, S., Merry, K., Obata, S., He, X., & Zheng, H. (2019). Evaluation of sites for the reestablishment of the American chestnut (Castanea dentata) in northeast Georgia, USA. Landscape Ecology, 34(4), 943–960. <a>https://doi.org/10.1007/s10980-019-00818-7</a>
                        </li>
                    <h4 class="about">Presentations</h4>
                        <li>
                        Obata, S., Bettinger, P., Cieszewski, C., & Lowe III, R. C. (2019, March 21). Estimation of the growing stock volume of the forest stands in Georgia, USA using FIA data [Oral presentation at 130th Annual Japanese Forest Science Meeting].
                        </li>
                        <li>
                        Obata, S., Cieszewski, C., Bettinger, P., & Lowe III, R. C. (2019, December 9). The estimation of the growing stock volume of the forest stands in Georgia [Oral Presentation]. 12th southern forestry and natural resource management GIS conference, Athens, GA, United States.
                        </li>
                        <li>
                        Obata, S., Cieszewski, C., Bettinger, P., Lowe, R. C., III, & Bernardes, S. (2017a, August 29). Spatiotemporal analysis of Landsat imagery for assessment of disturbance tracking in coastal Georgia [Oral Presentation]. Symposium on System Analysis in Forest Resources 2017, Seattle, United States.
                        </li>
                        <li>
                        Obata, S., Cieszewski, C., Bettinger, P., Lowe, R. C., III, & Bernardes, S. (2017b, December). Estimation of forest stand disturbance through implementation of Vegetation Change Tracker algorithm using Landsat time series Stacked imagery in coastal Georgia [Poster].
                        </li>
                        <li>
                        Obata, S., Cieszewski, C., Bettinger, P., Lowe, R. C., III, & Bernardes, S. (2018, October 2). Estimating the last distutbance year of forest stands in Coastal Georgia using all the available Landsat imagery with Google Earth Engine [Poster]. ForestSAT 2018, Maryland, United States.
                        </li>
                        <li>
                        Obata, S., Cieszewski, C., Lowe, R. C., III, Bettinger, P., & Bernardes, S. (2018, March 16). Estimation of forest stand disturbance in coastal Georgia. FORMATH FUKUOKA 2018, FUKUOKA.
                        </li>

            </div>
        </div>
    </section>
